In [1]:
import pandas as pd
import json
import requests

In [2]:
#we will now create dataframes for gender and later age

# 19 = Under 18 years  
# 20 = 5 to 13 years  
# 21 = 14 to 17 years  
# 22 = 18 to 64 years  
# 23 = 18 to 24 years  
# 24 = 25 to 44 years  
# 25 = 45 to 64 years  
# 26 = 65 years and over

In [6]:

r = requests.get("https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&AGEGROUP=31&for=state:*&key=64f1dfb2f21e446d237909b1045fcde98e66d4f8")
x = r.json()

df1 = pd.DataFrame(x)
df1 = df1.rename(columns=df1.iloc[0])
df1.to_csv("medianAgeData.csv")
df1

                    NAME   POP  AGEGROUP  state
0                   NAME   POP  AGEGROUP  state
1            Mississippi    38        31     28
2               Missouri  38.9        31     29
3            Puerto Rico  43.2        31     72
4                Montana  40.1        31     30
5               Michigan  39.9        31     26
6              Minnesota  38.3        31     27
7               Nebraska  36.8        31     31
8                 Nevada  38.3        31     32
9          New Hampshire  43.1        31     33
10            New Jersey  40.1        31     34
11            New Mexico  38.4        31     35
12              New York  39.2        31     36
13        North Carolina  39.1        31     37
14          North Dakota  35.3        31     38
15                  Ohio  39.5        31     39
16              Oklahoma  36.9        31     40
17                Oregon  39.6        31     41
18          Pennsylvania  40.8        31     42
19          Rhode Island  40.1        31     44
20        South Carolina  39.9        31     45
21          South Dakota  37.4        31     46
22             Tennessee    39        31     47
23                 Texas    35        31     48
24               Vermont    43        31     50
25                  Utah  31.3        31     49
26              Virginia  38.6        31     51
27            Washington  37.8        31     53
28         West Virginia  42.9        31     54
29             Wisconsin  39.8        31     55
30               Wyoming  38.4        31     56
31               Alabama  39.4        31     01
32                Alaska    35        31     02
33               Arizona  38.2        31     04
34              Arkansas  38.5        31     05
35            California    37        31     06
36              Colorado  37.1        31     08
37              Delaware  41.1        31     10
38  District of Columbia  34.2        31     11
39           Connecticut  41.1        31     09
40               Florida  42.5        31     12
41               Georgia  37.1        31     13
42                 Idaho  36.9        31     16
43                Hawaii  39.6        31     15
44              Illinois  38.6        31     17
45               Indiana  37.9        31     18
46                  Iowa  38.5        31     19
47                Kansas  37.1        31     20
48              Kentucky  39.1        31     21
49             Louisiana  37.5        31     22
50                 Maine    45        31     23
51              Maryland  39.1        31     24
52         Massachusetts  39.6        31     25